<%= form_with model: @order, local: true, class: "row g-3" do |f| %>
  <div class="col-md-6">
  </div>
  <div class="col-md-6 d-none">
    <%= f.label :book_id, "Libro", class: "form-label" %>
    <%= f.text_field :book_id, value: params[:id] %>
  </div>
  <div class="col-md-6">
    <%= f.label :quantity, "Cantidad", class: "form-label" %>
    <%= f.number_field :quantity, class: "form-control", min: 1 %>
  </div>
  <div class="col-md-12">
    <%= f.submit "Crear Pedido", class: "btn btn-primary", data: { turbo_frame: "_top" } %>
  </div>
<% end %>
