<div class="container">
  <h1 class="mt-4">BookStore</h1>
  <h2>ยก<strong>Book</strong> for all ages, a bookstore where all your senses can travel.</h2>

  <div class="row">
    <% @books.each do |book| %>
      <div class="col-md-4 mb-4">
        <div class="card mb-4 shadow-sm h-100">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title mt-3 text-center"><strong><%= book.title %></strong></h5>
            <div class="d-flex justify-content-center mb-3">
              <%= image_tag(book.img_url, class: 'img-fluid') %>
            </div>
            <p class="card-text"><%= truncate(book.synopsis, length: 100) %></p>
            <p><strong>Author:</strong> <%= book.author %></p>
            <p><strong>Genre:</strong> <%= book.genre %></p>
            <p><strong>Price:</strong> $<%= book.price %></p>
            <div class="mt-auto d-flex justify-content-between">
              <%= link_to 'See details', book_path(book), class: 'btn btn-primary mr-2' %>
              <%= link_to 'Buy Book', new_order_path(book.id), class: 'btn btn-info' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div>
  <footer class="footer">
    <h3><i class="fas fa-heart"></i> BookStore</h3>

    <div class="footer-links">
     <a href="https://www.instagram.com/" target="_blank">
      <i class="fab fa-instagram"></i>
     <a href="https://www.facebook.com/" target="_blank">
      <i class="fab fa-facebook"></i>
     <a href="https://twitter.com/bpapillard" target="_blank">
      <i class="fab fa-twitter"></i>
    </div>

    <div class="footer-payment-methods">
      <a>Pay methods</a>
       <img title="" sizes="" srcset="" alt="amex-logo-card" class="vtex-store-components-3-x-imageElement vtex-render-runtime-8-x-lazyload" loading="eager" fetchpriority="auto" crossorigin="anonymous" data-src="https://gandhi.vtexassets.com/arquivos/Amex_gray.png" src="https://gandhi.vtexassets.com/arquivos/Amex_gray.png" style="max-width: 53px;">
       <img title="" sizes="" srcset="" alt="carnet-logo-card" class="vtex-store-components-3-x-imageElement vtex-render-runtime-8-x-lazyload" loading="eager" fetchpriority="auto" crossorigin="anonymous" data-src="https://gandhi.vtexassets.com/arquivos/Carnet_Gray.png" src="https://gandhi.vtexassets.com/arquivos/Carnet_Gray.png" style="max-width: 53px;">
      <img title="" sizes="" srcset="" alt="master-logo-card" class="vtex-store-components-3-x-imageElement vtex-render-runtime-8-x-lazyload" loading="eager" fetchpriority="auto" crossorigin="anonymous" data-src="https://gandhi.vtexassets.com/arquivos/Master_Gray.png" src="https://gandhi.vtexassets.com/arquivos/Master_Gray.png" style="max-width: 53px;">
    </div>
  </footer>
</div>
