<h1>BookStore</h1>

<%= simple_form_for(book) do |f| %>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :sypnosis %>
  <%= f.input :genre %>
  <%= f.input :available_quantity %>
  <%= f.input :price %>
  <%= f.submit %>
<% end %>
